<h1><center>Decision Trees</center></h1>

In this lab exercise, you will learn a popular machine learning algorithm, Decision Tree. You will use this classification algorithm to build a model from historical data of patients, and their response to different medications. Then you use the trained decision tree to predict the class of a unknown patient, or to find a proper drug for a new patient.

In [1]:
import numpy as np 
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

<div id="about_dataset">
    <h2>About the dataset</h2>
    Imagine that you are a medical researcher compiling data for a study. You have collected data about a set of patients, all of whom suffered from the same illness. During their course of treatment, each patient responded to one of 5 medications, Drug A, Drug B, Drug c, Drug x and y. 
    <br>
    <br>
    Part of your job is to build a model to find out which drug might be appropriate for a future patient with the same illness. The feature sets of this dataset are Age, Sex, Blood Pressure, and Cholesterol of patients, and the target is the drug that each patient responded to.
    <br>
    <br>
    It is a sample of binary classifier, and you can use the training part of the dataset 
    to build a decision tree, and then use it to predict the class of a unknown patient, or to prescribe it to a new patient.
</div>

In [2]:
my_data=pd.read_csv('drug200.csv')

In [3]:
my_data.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [4]:
len(my_data)

200

In [8]:
cat_feats=['Sex']

In [9]:
final=pd.get_dummies(my_data,columns=cat_feats,drop_first=True)

In [10]:
final.head()

   Age      BP Cholesterol  Na_to_K   Drug  Sex_M
0   23    HIGH        HIGH   25.355  drugY      0
1   47     LOW        HIGH   13.093  drugC      1
2   47     LOW        HIGH   10.114  drugC      1
3   28  NORMAL        HIGH    7.798  drugX      0
4   61     LOW        HIGH   18.043  drugY      0

In [11]:
cat_feats=['Cholesterol']
final=pd.get_dummies(final,columns=cat_feats,drop_first=True)
cat_feats=['BP']
final=pd.get_dummies(final,columns=cat_feats,drop_first=True)

In [12]:
final.head()

   Age  Na_to_K   Drug  Sex_M  Cholesterol_NORMAL  BP_LOW  BP_NORMAL
0   23   25.355  drugY      0                   0       0          0
1   47   13.093  drugC      1                   0       1          0
2   47   10.114  drugC      1                   0       1          0
3   28    7.798  drugX      0                   0       0          1
4   61   18.043  drugY      0                   0       1          0

In [13]:
X=final.drop('Drug',axis=1).values

In [14]:
y=final['Drug']

In [17]:
y.head()

0    drugY
1    drugC
2    drugC
3    drugX
4    drugY
Name: Drug, dtype: object

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_trainset, X_testset, y_trainset, y_testset = train_test_split(X, y, test_size=0.3, random_state=3)

In [20]:
drugTree = DecisionTreeClassifier(criterion="entropy", max_depth = 4)
drugTree # it shows the default parameters

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=4,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [21]:
drugTree.fit(X_trainset,y_trainset)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=4,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [22]:
predTree = drugTree.predict(X_testset)

In [23]:
print (predTree [0:5])
print (y_testset [0:5])

['drugY' 'drugX' 'drugX' 'drugX' 'drugX']
40     drugY
51     drugX
139    drugX
197    drugX
170    drugX
Name: Drug, dtype: object

In [24]:
from sklearn import metrics
import matplotlib.pyplot as plt
print("DecisionTrees's Accuracy: ", metrics.accuracy_score(y_testset, predTree))

DecisionTrees's Accuracy:  0.9833333333333333

In [30]:
final.columns

Index(['Age', 'Na_to_K', 'Drug', 'Sex_M', 'Cholesterol_NORMAL', 'BP_LOW',
       'BP_NORMAL'],
      dtype='object')

In [31]:
#Execute below 2 steps only after installing pydotplus and graphviz
from sklearn.externals.six import StringIO
import pydotplus
import matplotlib.image as mpimg
from sklearn import tree
%matplotlib inline

In [ ]:
dot_data = StringIO()
filename = "drugtree.png"
featureNames = final.columns.drop('Drug')
targetNames = final["Drug"].unique().tolist()
out=tree.export_graphviz(drugTree,feature_names=featureNames, out_file=dot_data, class_names= np.unique(y_trainset), filled=True,  special_characters=True,rotate=False)  
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
graph.write_png(filename)
img = mpimg.imread(filename)
plt.figure(figsize=(100, 200))
plt.imshow(img,interpolation='nearest')